<mat-toolbar>
    <div class="container">
        <p>&copy; 2024 Recipe Maker. All rights reserved.</p>
        <div class="footer-links">
            <a mat-button href="https://gago.works" target="_blank" rel="noopener noreferrer" aria-label="Visit Gago.Works">
                <mat-icon>link</mat-icon> Gago.Works
            </a>
            <a mat-button href="https://github.com/gagovictor" target="_blank" rel="noopener noreferrer" aria-label="Visit GitHub profile">
                <mat-icon svgIcon="github"></mat-icon> GitHub
            </a>
        </div>
    </div>
</mat-toolbar>