<div class="ingredient-input-container">
    <mat-form-field appearance="fill">
        <mat-label id="ingredient-label">Ingredient</mat-label>
        <input
            matInput
            [(ngModel)]="ingredient"
            placeholder="Enter ingredient"
            (keydown.enter)="addIngredient()"
            aria-labelledby="ingredient-label"
            aria-required="true"
        />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="addIngredient()"
      aria-label="Add ingredient"
    >
        Add
    </button>
</div>
