@use "@angular/material" as mat;
@use "../../../../m3-theme" as m3-theme;

:host {
    background-color: mat.get-theme-color(m3-theme.$light-theme, neutral, 98);
    min-height: 100%;
    display: block;
}

app-ingredient-input,
app-ingredient-chip-list {
    width: 100%;
    box-sizing: border-box;
}
