@use "@angular/material" as mat;
@use "../../../../m3-theme" as m3-theme;

mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: mat.get-theme-color(m3-theme.$light-theme, tertiary, 95);
}

.spacer {
    flex: 1 1 auto;
}

.app-title {
    font-weight: 600;
    letter-spacing: 0.03em;
    color: mat.get-theme-color(m3-theme.$light-theme, secondary, 40);
}

button {
    @include mat.button-color(m3-theme.$light-theme, $color-variant: tertiary);
}