<mat-toolbar color="primary">
    <p>&copy; 2024 Recipe Maker. All rights reserved.</p>
    <span class="spacer"></span>
    <div class="footer-links">
        <a mat-button color="secondary" href="https://gago.works" target="_blank" rel="noopener noreferrer" aria-label="Visit Gago.Works">
            <mat-icon>link</mat-icon> Gago.Works
        </a>
        <a mat-button color="secondary" href="https://github.com/gagovictor" target="_blank" rel="noopener noreferrer" aria-label="Visit GitHub profile">
            <mat-icon svgIcon="github"></mat-icon> GitHub
        </a>
    </div>
</mat-toolbar>